<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="vh-100 d-flex flex-column">
    <%- include('../partials/nav'); %>
    <div class="container-fluid bg-dark flex-grow-1 p-2 p-sm-5 d-flex flex-column align-items-center">
      <% if (!locals.currentUser) { %>
        <h1 class="text-light mb-5"><strong><span class="text-info">Members</span>Only <span class="text-info">special club</span></strong></h1>
        <h5 class="text-light mb-5">Please <a href="/sign-in" class="link-info">sign in</a> to get full access to stories</h5>
      <% } %>
      <% if (locals.currentUser?.membership === 'Unregistered') { %>
        <h5 class="text-light mb-5">Remember to upgrade your account if you would like to post stories.</h5>
      <% } %>
      <% locals.stories.forEach(story => { %>
        <div class="card my-2" style="color: rgb(197, 197, 197);">
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <h5 style="font-weight: 600;" class="card-title"><%- story.title %></h5>
              <% if (locals.currentUser) { %>
                <span style="font-size: 12px;" class="card-text fst-italic"><%= story.timestamp.toLocaleDateString() %></span>
              <% } else { %>
                <span style="font-size: 12px;" class="card-text blurry fst-italic">XX/XX/XX</span>
              <% } %>
            </div>
            <small class="fst-italic card-subtitle">by: 
              <% if (locals.currentUser) { %>
                <span class="semibold <%= story.author.membership === 'Admin' ? 'text-admin' : 'text-info' %>"><%- story.author.username %></span>
              <% } else { %>
                <span class="blurry fw-bold"><%- story.author.blurryUsername %></span>
              <% } %>
            </small>
            <% if (story?.msg && locals.currentUser) { %>
              <p class="card-text mt-2"><%- story.msg %></p>
            <% } else if (story?.msg) { %>
              <p class="card-text blurry mt-2"><%- story.blurryMsg %></p>
            <% } %>
          </div>
        </div>
      <% }) %>
    </div>
  </body>
</html>